*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --grey-color: #2E2F42;
    --white-color: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul{
    padding-left: 0;
    margin: 0;
}

address{
    font-style: normal;
}

button{
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

img{
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*-------------------------HEADER--------------------------*/

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--cornflower-color);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-menu{
    display: flex;
    margin: 0 auto;
    gap: 40px;
}


.nav_header{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo{
    font-family: 'Raleway', sans-serif;
    color: var(--iris-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;          
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.span {
    color: var(--grey-color);
}



.link-menu{
    color: var(--grey-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.link-menu:hover,
.link-menu:focus {                                                              
    color: var(--ocean-color);
}

.adress{
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em
}

.adress:hover,
.adress:focus{   
    color: var(--ocean-color);
}
.adress-menu{
    display: flex;
    margin: 0 auto;
    gap: 40px;
}

/*-------------------------PAGE--------------------------*/

.page {
    background: var(--grey-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.title {
    font-weight: 700;
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--iris-color);
    color: var(--white-color);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.button:hover,
.button:focus { 
    background: var(--ocean-color);
    color: var(--white-color);
}

.img-items{
    display: flex;
    gap: 24px;
    padding-top: 72px;
}


/*-------------------------CAPTION--------------------------*/

.caption{
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.caption-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.text-suptitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*-------------------------MENU--------------------------*/

.menu {
}

.menu-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
}

.menu-img{}

/*-------------------------LIST_TEAM--------------------------*/

.list-teams {
    background-color: var(--cloud-color);
    margin-top: 120px;
}
.teams-container{
    margin-top: 0;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-items{
    display: flex;
    gap: 24px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
    padding-bottom: 72px;
}
.team-pl{
    padding: 32px 16px;
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-desc {
    border-color:var(--white-color);
    border-radius: 0 0 4px 4px;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*-------------------------BUTTOM_ITEMS--------------------------*/
.main{}

.section-main {
    padding-top: 96px;
}

.button-items {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.button-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    cursor: pointer;
    background: #F4F4FD;
    border-radius: 4px;
    border: 1px solid var(--cornflower-color);
    padding: 12px 24px ;
}

.button-menu:hover,
.button-menu:focus {
    background: var(--ocean-color);
    color: var(--white-color);
    ;
}

/*-------------------------ROW--------------------------*/


.portfolio-items {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 72px;
    padding-bottom: 120px;
}

.project-card {
text-decoration: none
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.potfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}


/*-------------------------FOOTER--------------------------*/

.footer {
    background: var(--grey-color);
}
.footer-container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--iris-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.span_footer {
    color: var(--cloud-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
    max-width: 264px;
    margin-top: 16px;
}
